---
http_interactions:
- request:
    method: get
    uri: https://doolin.atlassian.net/rest/api/3/project/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - 5e553ca40b419476
      X-Arequestid:
      - d7ad8010-4d7e-440c-afd7-4d87f79a8c93
      X-Aaccountid:
      - "<REDACTED>"
    body:
      encoding: ASCII-8BIT
      string: '{"self":"https://doolin.atlassian.net/rest/api/3/project/search?maxResults=50&startAt=0","maxResults":50,"startAt":0,"total":7,"isLast":true,"values":[{"expand":"description,lead,issueTypes,url,projectKeys,permissions,insight","self":"https://doolin.atlassian.net/rest/api/3/project/10004","id":"10004","key":"ADMIN","name":"Administrivia","avatarUrls":{"48x48":"https://doolin.atlassian.net/secure/projectavatar?pid=10004&avatarId=10401","24x24":"https://doolin.atlassian.net/secure/projectavatar?size=small&s=small&pid=10004&avatarId=10401","16x16":"https://doolin.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10004&avatarId=10401","32x32":"https://doolin.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10004&avatarId=10401"},"projectTypeKey":"software","simplified":false,"style":"classic","isPrivate":false,"properties":{}},{"expand":"description,lead,issueTypes,url,projectKeys,permissions,insight","self":"https://doolin.atlassian.net/rest/api/3/project/10005","id":"10005","key":"BST","name":"Binary
        search trees","avatarUrls":{"48x48":"https://doolin.atlassian.net/secure/projectavatar?pid=10005&avatarId=10408","24x24":"https://doolin.atlassian.net/secure/projectavatar?size=small&s=small&pid=10005&avatarId=10408","16x16":"https://doolin.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10005&av[...]
